openapi: 3.0.0
info:
  version: 1.0.0
  title: Companies House Public Data charges registeredOfficeAddress API
  description: An API suite providing read only access to search and retrieve public company data
servers:
- url: https://api.company-information.service.gov.uk
- url: http://api.company-information.service.gov.uk
security:
- api_key: []
tags:
- name: registeredOfficeAddress
  description: Registered office address
paths:
  /company/{companyNumber}/registered-office-address:
    get:
      summary: Registered Office Address
      description: Get the current address of a company
      parameters:
      - name: company_number
        in: path
        description: Company number for registered office address
        required: true
        schema:
          type: string
      tags:
      - registeredOfficeAddress
      security:
      - oauth2:
        - https://identity.company-information.service.gov.uk/user/profile.read
        - https://api.company-information.service.gov.uk/company/{company_number}/registered-office-address.update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: http://127.0.0.1:10000/api.ch.gov.uk-specifications/swagger-2.0/models/registeredOfficeAddress.json#/definitions/registeredOfficeAddress
        '401':
          description: Not authorised
        '404':
          description: Resource not found
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
