openapi: 3.2.0
info:
  version: 1.0.0
  title: Companies House Public Data Officer Disqualifications API
  description: An API suite providing read only access to search and retrieve public company data
servers:
- url: https://api.company-information.service.gov.uk
- url: http://api.company-information.service.gov.uk
security:
- api_key: []
tags:
- name: officerDisqualifications
  description: Officer disqualifications
paths:
  /disqualified-officers/natural/{officer_id}:
    get:
      summary: Get natural officers disqualifications
      description: Get a natural officer's disqualifications
      x-operationName: get natural officer
      tags:
      - officerDisqualifications
      parameters:
      - name: officer_id
        description: The disqualified officer's id.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Natural officer's disqualifications returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: http://127.0.0.1:10000/api.ch.gov.uk-specifications/swagger-2.0/spec/disqualifications.json#/definitions/naturalDisqualification
        '401':
          description: Unauthorised
        '404':
          description: Resource not found
      operationId: getDisqualifiedOfficersNaturalByOfficerId
      x-operation-id-source: derived
  /disqualified-officers/corporate/{officer_id}:
    get:
      summary: Get a corporate officers disqualifications
      description: Get a corporate officer's disqualifications
      x-operationName: get corporate officer
      tags:
      - officerDisqualifications
      parameters:
      - description: The disqualified officer id.
        name: officer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Corporate officer's disqualifications returned
          headers:
            ETag:
              description: The ETag of the resource.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: http://127.0.0.1:10000/api.ch.gov.uk-specifications/swagger-2.0/spec/disqualifications.json#/definitions/corporateDisqualification
        '401':
          description: Unauthorised
        '404':
          description: Resource not found
      operationId: getDisqualifiedOfficersCorporateByOfficerId
      x-operation-id-source: derived
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
